.rightsCouponBox {
  font-weight: 400;
}
.rightsCouponHeader {
  padding: 40px 30px 0;
  .rightsCouponHeaderTitle {
    display: flex;
    line-height: 35px;
    .headerTitleWord {
      font-size: 30px;
      color: #333;
      margin-left: 15px;
    }
    .headerTitleEn {
      font-size: 20px;
      color: #999;
      margin-left: 10px;
    }
  }
}

.rightsCouponHeaderList {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  .headerListItem {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    .headerListItemTip {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      color: #fff;
      background-color: #FF643D;
      border-radius:15px 0 15px 0;
      line-height: 1;
      padding: 6px 15px;
    }
    image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
    }
    .headerListItemWord {
      width: 82%;
      font-size: 24px;
      color: #4c4c4c;
      margin: 15px auto 0;
    }
  }
}

.grayLine {
  height: 15px;
  background-color: #f7f7f7;
}

.rightsCouponList {
  padding: 40px 30px 0;
  .rightsCouponListHeader {
    display: flex;
    .listHeaderLine {
      width: 6px;
      height: 27px;
      border-radius: 3px;
      background-color: #FCB251;
      margin-top: 8px;
    }
    .listHeaderWord {
      font-size: 30px;
      color: #4c4c4c;
      margin-left: 20px;
      font-weight: bold;
    }
  }
}
