page {
  height: 100%
}
.chooseBox {
  height: 100%;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
  .chooseBg {
    width: 100%;
    height: 100%;
    display: block;
  }
  .chooseModalBox {
    width: 690px;
    position: fixed;
    top: 200px;
    bottom: 60px;
    left: 30px;
    background-color: rgba(0, 0, 0, .5);
    padding: 150px 0 50px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    .merchantLogo {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: -100px;
      transform: translate(-50%, 0);
    }
    .chooseModalName {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    .chooseModalTitle {
      font-size: 30px;
      margin-bottom: 55px;
    }
    .chooseModalTableNum {
      font-size: 32px;
    }
    .chooseModalTable {
      height: 360px;
      white-space: nowrap;
      padding: 50px 0;
      .chooseModalTableItem {
        width: 138px;
        height: 80px;
        line-height: 80px;
        border-radius: 40px;
        background-color: #fff;
        margin: 10px;
        color: #666;
        font-size: 26px;
      }
      .tableActive {
        background-color: #FBAB48;
        color: #fff;
      }
    }
    .chooseModalBtn {
      margin: 0 25px;
      height: 88px;
      line-height: 88px;
      background-color: #FBAB48;
      border-radius: 44px;
    }
    .chooseModalBtnDisabled {
      margin: 0 25px;
      height: 88px;
      line-height: 88px;
      background-color: #999;
      border-radius: 44px;
    }
  }
}
